@page "/"
@using ChibiCSharp
@using System.Net
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div>
    <div class="container-fluid">
        <h4>ChibiC# - C#によるC#コンパイラ</h4>
        <button @onclick="OnClickSample">サンプルコード</button> @Explanation (@(Count == -1 ? "-" : Count + 1) / @SampleCode.Length)
        <div class="row py-2" style="height:60vh;">
            <div class="col">
                <textarea @bind=@Code @oninput="OnInputChange" placeholder="ココにコードを書くかサンプルコードを押してください"></textarea>
            </div>
            <div class="col">
                <textarea readonly class="assembly">
                    @(Assembly)
                </textarea>
            </div>
        </div>
        <button @onclick="OnClickRun">ilasm.exe → 実行(ExitCodeを表示)</button>
        <div class="py-2">
            <textarea readonly class="assembly">
                @(ExeResult)
            </textarea>
        </div>
    </div>
    <br />
    <div>
        <blockquote>inspired by <a href="https://www.sigbus.info/compilerbook">低レイヤを知りたい人のためのCコンパイラ作成入門</a></blockquote>
        <ul>
            <li><input type="checkbox" checked> ステップ20: sizeof演算子</li>
            <li><input type="checkbox" disabled> <s>ステップ19: ポインタの加算と減算を実装する</s></li>
            <li><input type="checkbox" disabled> <s>ステップ18: ポインタ型を導入する</s></li>
            <li><input type="checkbox" checked disabled> ステップ17: 暗黙の変数定義を廃止して、intというキーワードを導入する</li>
            <li><input type="checkbox" disabled> <s>ステップ16: 単項&と単項*</s></li>
            <li><input type="checkbox" checked disabled> ステップ15: 関数の定義に対応する</li>
            <li><input type="checkbox" checked disabled> ステップ14: 関数の呼び出しに対応する</li>
            <li><input type="checkbox" checked disabled> ステップ13: ブロック</li>
            <li><input type="checkbox" checked disabled> ステップ12: 制御構文を足す</li>
            <li><input type="checkbox" checked disabled> ステップ11：return文</li>
            <li><input type="checkbox" checked disabled> ステップ10：複数文字のローカル変数</li>
            <li><input type="checkbox" checked disabled> ステップ9：1文字のローカル変数</li>
            <li><input type="checkbox" checked disabled> ステップ8: ファイル分割とMakefileの変更</li>
            <li><input type="checkbox" checked disabled> ステップ7: 比較演算子</li>
            <li><input type="checkbox" checked disabled> ステップ6：単項プラスと単項マイナス</li>
            <li><input type="checkbox" checked disabled> ステップ5：四則演算のできる言語の作成</li>
            <li><input type="checkbox" checked disabled> ステップ4：エラーメッセージを改良</li>
            <li><input type="checkbox" checked disabled> ステップ3：トークナイザを導入</li>
            <li><input type="checkbox" checked disabled> ステップ2：加減算のできるコンパイラの作成</li>
            <li><input type="checkbox" checked disabled> ステップ1：整数1個をコンパイルする言語の作成</li>
        </ul>
    </div>
</div>


@code {
    private string Code { get; set; } = "";
    private string Assembly = "";
    private string ExeResult = "";
    private string Explanation = "";

    private static readonly (string,string)[] SampleCode =
    {
        ("計算式", $"int main(){Environment.NewLine}{{{Environment.NewLine}\treturn (3 + 5) / 2; {Environment.NewLine}}}"),
        ("比較演算子", $"int main(){Environment.NewLine}{{{Environment.NewLine}\treturn 0<=1;{Environment.NewLine}}}"),
        ("変数代入", $"int main(){Environment.NewLine}{{{Environment.NewLine}\ta=3;{Environment.NewLine}\tz=5;{Environment.NewLine}\treturn a+z;{Environment.NewLine}}}"),
        ("if文", $"int main(){Environment.NewLine}{{{Environment.NewLine}\tif (1) return 2;{Environment.NewLine}\treturn 3;{Environment.NewLine}}}"),
        ("while文", $"int main(){Environment.NewLine}{{{Environment.NewLine}\ti=0;{Environment.NewLine}\twhile(i<10) i=i+1;{Environment.NewLine}\treturn i;{Environment.NewLine}}}"),
        ("for文", $"int main(){Environment.NewLine}{{{Environment.NewLine}\ti=0;{Environment.NewLine}\tj=0;{Environment.NewLine}\tfor (i=0; i<=10; i=i+1) j=i+j;{Environment.NewLine}\treturn j;{Environment.NewLine}}}"),
        ("関数引数無し", $"int main(){Environment.NewLine}{{{Environment.NewLine}\treturn ret32();{Environment.NewLine}}}{Environment.NewLine}int ret32(){Environment.NewLine}{{{Environment.NewLine}\treturn 32;{Environment.NewLine}}}"),
        ("関数引数あり", $"int main(){Environment.NewLine}{{{Environment.NewLine}\treturn Add(4, 3);{Environment.NewLine}}}{Environment.NewLine}int Add(int x, int y){Environment.NewLine}{{{Environment.NewLine}\treturn x + y;{Environment.NewLine}}}"),
        ("フィナボッチ", $"int main(){Environment.NewLine}{{{Environment.NewLine}\treturn Fibonacci(9);{Environment.NewLine}}}{Environment.NewLine}int Fibonacci(int x){Environment.NewLine}{{{Environment.NewLine}\tif (x<=1) return 1;{Environment.NewLine}\treturn Fibonacci(x-1) + Fibonacci(x-2);{Environment.NewLine}}}"),
    };
    private static int Count = -1;

    private void OnInputChange(ChangeEventArgs e)
    {
        Code = e.Value?.ToString() ?? "";
        Assembly = WebUtility.HtmlEncode(Compiler.Compile(Code));
    }

    private void OnClickSample()
    {
        Count = (Count + 1) % SampleCode.Length;
        Explanation = SampleCode[Count].Item1;
        Code = SampleCode[Count].Item2;
        Assembly = WebUtility.HtmlEncode(Compiler.Compile(Code));
    }

    private void OnClickRun()
    {
        ExeResult = Executer.Run(Assembly);
    }
}