@page "/"
@using ChibiCSharpCompiler
@using System.Net
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div>
    <h4>ChibiCSharp</h4>
    <div class="code">
        <h5>コード</h5>
        <textarea @oninput="OnInputChange"></textarea>
    </div>
    <p>↓</p>
    <div class="compile">
        <h5>アセンブリ</h5>
        <pre class="border">
            @(Assembly)
        </pre>
    </div>
    <div class="run">
        <button @onclick="OnClickRun">ilasm.exe → 実行</button>
        <div class="border">
            @(ExeResult)
        </div>
    </div>
    <div>
        <br/>
        <blockquote>inspired by <a href="https://www.sigbus.info/compilerbook">低レイヤを知りたい人のためのCコンパイラ作成入門</a></blockquote>
        <ul>
            <li>ステップ7: 比較演算子</li>
            <li><s>ステップ6：単項プラスと単項マイナス</s></li>
            <li><s>ステップ5：四則演算のできる言語の作成</s></li>
            <li><s>ステップ4：エラーメッセージを改良</s></li>
            <li><s>ステップ3：トークナイザを導入</s></li>
            <li><s>ステップ2：加減算のできるコンパイラの作成</s></li>
            <li><s>ステップ1：整数1個をコンパイルする言語の作成</s></li>
        </ul>
    </div>
</div>


@code {
    private string Code { get; set; } = "";
    private string Assembly = "";
    private string ExeResult = "";

    private void OnInputChange(ChangeEventArgs e)
    {
        Code = e.Value?.ToString() ?? "";
        Assembly = WebUtility.HtmlEncode(Compiler.Compile(Code));
    }

    private void OnClickRun()
    {
        ExeResult = Executer.Run(Code, Assembly);
    }
}